/* system */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p, a {
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
body {
    background: #F4F4F4;
}
.margin-top {
    margin-top: 10px;
}

/* phone-menu */
.hamburger {
    cursor: pointer;
    display: none;
}
.line {
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 5px 0;
    transition: all .3s ease;
}
.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.active .line:nth-child(2) {
    opacity: 0;
}
.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* header */

header {
    width: 1440px;
    margin: 0 auto;
    background: url(../img/chillguy.png) no-repeat 70% 100%, url(../img/Coins1.png) no-repeat 95% 110%, url(../img/coin.png) no-repeat 61% 35%, radial-gradient(circle, #5975FF, #3029D9);
}
.top_header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 124px;
    margin-bottom: 64px;
}
.header_start {
    display: flex;
    gap: 18px;
    align-items: center;
}
.logo {
    width: 43px;
    height: 53px;
}
.logo_text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}
.nav {
    display: flex;
    gap: 36px;
}
.nav_link {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 60%;
    transition: .3s;
}
.nav_link:hover {
    opacity: 100%;
}
.nav_link:after {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: #F4F4F4;
    transition: .3s;
}
.nav_link.center:after {
    left: 50%;
    transform: translate(-50%);
  }
.nav_link:hover:after {
    width: 50%;
}
.middle_header_container {
    width: 1440px;
    margin: 0 auto;
    padding-left: 124px;
    padding-bottom: 114px;
}

/* buttons */

.button {
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    transition: .2s;
    cursor: pointer;
    padding: 9px 18px;
}
.button-blue {
    color: #FFFFFF;
    background-color: rgba(48, 41, 217, 1);;
    border: 1px solid #FFFFFF;
}
.button-blue:hover {
    background-color: rgba(244, 244, 244, 1);;
    border: 1px solid #3029D9;
    color: #3029D9;
}
.button-darkblue {
    background-color: rgba(17, 24, 73, 1);
    color: #FFFFFF;
}
.button-darkblue:hover {
    background-color: rgba(244, 244, 244, 1);
    color: #111849;
}
header .button-darkblue {
    padding: 9px 51px;
}
.out_of_image .button-blue {
    padding: 9px 18px;
    max-width: max-content;
}
.main_button {
    padding: 9px 26px;
}
.main_three .button {
    margin-top: 38px;
}
.button_contact {
    border: 0;
}

/* main */

main {
    background: #F4F4F4;
    width: 1440px;
    margin: 0 auto;
}

/* main-one */

.main_one {
    display: flex;
    justify-content: center;
    padding: 114px 124px;
    margin-bottom: 47px;
}
.main_second_part {
    display: flex;
    gap: 28px;
    margin-top: 159px;
}
.second_side {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 55px;
}
.blocks {
    padding: 37px 50px;
    background: #D6D4F7;
    width: 278px;
    height: 171px;
}
.block_one {
    border-radius: 80px 0px 80px 80px;
}
.block_two {
    border-radius: 80px 0px 80px 80px;
}
.block_three {
    border-radius: 80px 80px 80px 0px;
}
.block_four {
    border-radius: 80px 80px 80px 0px;
}
.block_description, .card_text_two, .card_text_three 
{
    line-height: 28px;
    font-weight: 500;
}

/* main-two */

.main_two {
    text-align: center;
    background: #F4F4F4;
    margin-bottom: 222px;
}
.cards_div {
    display: flex;
    justify-content: center;
    margin-top: 104px;
    gap: 33px;
    padding-bottom: 48px;
}
.card_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/bg-effect.png) no-repeat 100% 100%, #FFFFFF;
    width: 374px;
    height: 444px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    transition: .3s;
}
.card_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/Mask\ Group1.png) no-repeat 75% 0%, #3029D9;
    width: 374px;
    height: 444px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    transition: .3s;
}
.card_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../img/Mask\ Group2.png) no-repeat 75% 0%, #111849;
    width: 374px;
    height: 444px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    transition: .3s;
}
.shadow:hover {
    box-shadow: 4px 10px 100px 10px rgba(0, 0, 0, 0.1);    
}
.card_pic {
    margin-bottom: 34px;
}

/* main-three */

.main_three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 140px 124px;
    background: #3029D9;
}

/* main-four */

.main_four {
    display: flex;
    justify-content: center;
    gap: 95px;
    margin-top: 178px;
}
.four_left_side {
    display: flex;
    gap: 24px;
}
.combo_box {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.link_box_center {
    display: flex;
}
.solo_box {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.boxes {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 63px 75px;
    text-align: center;
    align-items: center;
    gap: 18px;
    transition: .3s;
}
.boxes:hover {
    box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.1);
}
.rect {
    display: flex;
    justify-content: center;
    background: #3029D9;
    width: 72px;
    height: 72px;
    align-items: center;
    border: 0;
    border-radius: 80px 80px 80px 0px;
}
.four_text_side {
    padding-top: 36px;
}
.four_second_title {
    margin-bottom: 12px;
}

/* main-five */

.main_five {
    text-align: center;
    padding-bottom: 180px;
}
.news_div {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-top: 104px;
}
.news {
    background: #F4F4F4;
    width: 374px;
    height: 583px;
    text-align: start;
    border: 0;
    border-radius: 8px;
}
.out_of_image {
    padding: 17px 34px;
    display: flex;
    flex-direction: column;
}

/* main-six */

.main_six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1440px;
    height: 630px;
    background: url(../img/bg_six.png) no-repeat 100%, #111849;
}
.main_six .button {
    border: 0;
}

/* main-assets */

.button_distance {
    margin-bottom: 28px;
}
.main_pic {
    position: absolute;
    top: -92px;
    right: 214px;
}
.dots {
    position: absolute;
    top: 62px;
    right: 124px;
}


/* text-styles */

.title {
    color: #3029D9;
    font-size: 24px;
    font-weight: 600;
    line-height: 68px;
}
.second_title {
    color: #0B1131;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
}
.third_title {
    color: #a0abb8;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    padding: 12px 0px;
}
.header_button2 {
    color: #FFFFFF;
    background-color: rgba(48, 41, 217, 1);
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    padding: 9px 51px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    transition: .2s;
    cursor: pointer;
}
.header_button2:hover {
    background-color: rgba(244, 244, 244, 1);
    border-radius: 4px;
    border: 1px solid #3029D9;
    padding: 9px 51px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.H1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 94px;
    line-height: 128px;
}
.block_number {
    color: #3029D9;
    font-size: 44px;
    line-height: 68px;
    font-weight: 700;
}
.block_description {
    color: #3029D9;
    font-size: 16px;
}
.card_text_two {
    color: #9794EC;
    font-size: 14px;
}
.card_title_two {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 68px;
}
.card_text_three {
    color: #8F93AA;
    font-size: 14px; 
}
.card_title {
    color: #0B1131;
    font-size: 24px;
    font-weight: 700;
    line-height: 68px;
}
.card_text {
    color: #858898;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}
.title_neg {
    color: #5975FF;
    font-size: 24px;
    font-weight: 600;
    line-height: 68px;
}
.second_title_neg {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
}
.box_title {
    color: #0B1131;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}
.text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding: 20px 0px;
}
.date {
    color: #3029D9;
    font-weight: 600;
    padding: 8px 0px;
}

/* footer */

footer {
    width: 1440px;
    margin: 0 auto;
    padding: 77px 125px 55px 125px;
    background: #F4F4F4;
}
.footer_container {
    display: flex;
    justify-content: space-between;
}
.footer_logo {
    display: flex;
    justify-content: center;
    gap: 18px;
    align-items: center;
}
.copyright {
    margin-top: 50px;
}
.footer_first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer_second {
    padding-top: 21px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 21px 21px 21px;
    row-gap: 22px;
    column-gap: 76px;
}
.footer_third {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 21px;
}
.social_media {
    display: flex;
    justify-content: end;
    gap: 24px;
}
.help {
    margin-top: 50px;
    gap: 34px;
}
.footer_under {
    display: flex;
    justify-content: space-between;
}

/* colors */

.cyan {
    color: #5975FF;
}
.black {
    color: #0B1131;
    line-height: 34px;
}
.black1 {
    color: #0B1131;
    line-height: 21px;
}
.white {
    color: #FFFFFF;
    margin-bottom: 27px;
}


@media screen and (max-width: 480px) {
    .hamburger {
        cursor: pointer;
        display: block;
        margin: auto 10px;
    }
    .top_header_container .nav.show-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top_header_container .nav {
        display: none;
    }
    .top_header_container {
        flex-direction: column;
        margin: 20px 0;
        gap: 20px;
    }
}