* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p, a {
    font-family: "Poppins", sans-serif;
}
body {
    background: #F4F4F4;
}
header {
    display: block;
    background: url(../img/chillguy.png) no-repeat 70% 100%, url(../img/Coins1.png) no-repeat 95% 110%, url(../img/coin.png) no-repeat 61% 35%, radial-gradient(circle, #5975FF, #3029D9);
    width: 1440px;
    margin: 0 auto;
}
.top_header_container {
    width: 1440px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 42px 124px;
    margin-bottom: 64px;
    
}
a {
    text-decoration: none;
}
.header_start {
    display: flex;
    gap: 18px;
    align-items: center;
}
.logo {
    width: 43px;
    height: 53px;
}
.logo_text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}

.nav {
    display: flex;
    gap: 36px;
}
.nav_link {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 60%;
    transition: .3s;
}
.nav_link:hover {
    opacity: 100%;
}
.nav_link:after {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    transition: .3s;
}
.nav_link.center:after {
    left: 50%;
    transform: translate(-50%);
  }
.nav_link:hover:after {
    width: 50%;
}
.button {
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    transition: .2s;
    cursor: pointer;
    padding: 9px 18px;
}

.button-blue {
    color: #FFFFFF;
    background-color: rgba(48, 41, 217, 1);;
    border: 1px solid #FFFFFF;
   
}
.button-blue:hover {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #3029D9;
    color: #3029D9;
}

.button-darkblue {
    color: #FFFFFF;
    background-color: rgba(17, 24, 73, 1);
}
.button-darkblue:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #3029D9;
}
header .button-darkblue {
    padding: 9px 51px;
}



.middle_header_container {
    width: 1440px;
    margin: 0 auto;
    padding-left: 124px;
    padding-bottom: 114px;
}
.H1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 94px;
    line-height: 128px;
}
.text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding: 20px 0px;
}


main {
    background: #F4F4F4;
    width: 1440px;
    margin: 0 auto;
}
.title {
    color: #3029D9;
    font-size: 24px;
    font-weight: 600;
    line-height: 68px;
}
.second_title {
    color: #0B1131;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
}
.third_title {
    color: #a0abb8;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    padding: 12px 0px;
}
.header_button2 {
    color: #FFFFFF;
    background-color: rgba(48, 41, 217, 1);
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    padding: 9px 51px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    transition: .2s;
    cursor: pointer;
}
.header_button2:hover {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: 1px solid #3029D9;
    padding: 9px 51px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.header_button2:hover .nav_link1 {
    color: #3029D9;
}

.main_one {
    display: flex;
    justify-content: center;
    padding: 114px 124px;
    margin-bottom: 47px;
}

.main_second_part {
    display: flex;
    gap: 28px;
    margin-top: 159px;
}

.left_side {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 55px;
}

.right_side {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 55px;
} 

.block_one {
    padding: 37px 50px;
    background: #D6D4F7;
    border-radius: 80px 0px 80px 80px;
    width: 278px;
    height: 171px;
}
.block_two {
    padding: 37px 50px;
    background: #D6D4F7;
    border-radius: 80px 0px 80px 80px;
    width: 278px;
    height: 171px;
}
.block_three {
    padding: 37px 50px;
    background: #D6D4F7;
    border-radius: 80px 80px 80px 0px;
    width: 278px;
    height: 171px;
}
.block_four {
    padding: 37px 50px;
    background: #D6D4F7;
    border-radius: 80px 80px 80px 0px;
    width: 278px;
    height: 171px;
}

.block_number {
    color: #3029D9;
    font-size: 44px;
    line-height: 68px;
    font-weight: 700;
}
.block_description, 
.card_text_two, 
.card_text_three 
{
     line-height: 28px;
     font-weight: 500;
}
.block_description {
    color: #3029D9;
    font-size: 16px;
}

.card_text_two {
    color: #9794EC;
    font-size: 14px;
}
.card_title_two {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 68px;
}
.card_text_three {
    color: #8F93AA;
    font-size: 14px; 
}

.main_two {
    text-align: center;
    background: linear-gradient(to bottom #FFFFFF, #FBFBFB, #FFFFFF);
    margin-bottom: 222px;
}
.cards_div {
    margin-top: 104px;
    display: flex;
    justify-content: center;
    gap: 33px;
    padding-bottom: 48px;
}
.card_one {
    background: url(../img/bg-effect.png) no-repeat 100% 100%, #FFF;
    width: 374px;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    transition: .3s;
}
.shadow:hover {
    box-shadow: 4px 10px 100px 10px rgba(0, 0, 0, 0.1);    
}
.card_two {
    background: url(../img/Mask\ Group1.png) no-repeat 75% 0%, #3029D9;
    width: 374px;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    transition: .3s;
}
.card_three {
    background: url(../img/Mask\ Group2.png) no-repeat 75% 0%, #111849;
    width: 374px;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    transition: .3s;
}
.card_pic {
    margin-bottom: 34px;
}
.card_title {
    color: #0B1131;
    font-size: 24px;
    font-weight: 700;
    line-height: 68px;
}
.card_text {
    color: #858898;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
}

.main_three {
    position: relative;
    padding: 140px 124px;
    background: #3029D9;
}
.title_neg {
    color: #5975FF;
    font-size: 24px;
    font-weight: 600;
    line-height: 68px;
}
.second_title_neg {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
}
.main_button {
    margin-top: 38px;
    padding: 9px 26px;
}
.main_button:hover {
    padding: 9px 26px;
}
.dots {
    position: absolute;
    top: 62px;
    right: 124px;
}
.main_pic {
    position: absolute;
    top: -92px;
    right: 214px;
}

.main_four {
    display: flex;
    justify-content: center;
    gap: 95px;
    margin-top: 178px;
}
.four_left_side {
    display: flex;
    gap: 24px;
}
.four_text_side {
    padding-top: 36px;
}
.four_second_title {
    margin-bottom: 12px;
}
.box_title {
    color: #0B1131;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}
.boxes {
    border-radius: 8px;
    padding: 63px 75px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    transition: .3s;
}
.rect {
    background: #3029D9;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 80px 80px 80px 0px;
}
.solo_box {
    margin: auto 0;
}
.combo_box {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.link_box {
    text-decoration: none;
}
.link_box_center {
    text-decoration: none;
    display: flex;
}
.boxes:hover {
    box-shadow: 0px 50px 100px 0px rgba(0, 0, 0, 0.1);
}
.news_div {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-top: 104px;
}
.news {
    background: #FFF;
    width: 374px;
    height: 583px;
    text-align: start;
    border: 0;
    border-radius: 8px;
}
.out_of_image {
    padding: 17px 34px;
}
.main_five {
    text-align: center;
    padding-bottom: 180px;
}
.cyan {
    color: #5975FF;
}
.black {
    color: #0B1131;
    line-height: 34px;
}
.black1 {
    color: #0B1131;
    line-height: 21px;
}
.white {
    color: #FFFFFF;
    margin-bottom: 27px;
}
.date {
    color: #3029D9;
    font-weight: 600;
    padding: 8px 0px;
}
.news_button {
    padding: 9px 18px;
    max-width: max-content;
}
.main_six {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 630px;
    background: url(../img/bg_six.png) no-repeat 100%, #111849;
}
.button_contact {
    border: 0;
}
.button_contact:hover {
    border: 0;
}
footer {
    width: 1440px;
    margin: 0 auto;
    padding: 77px 125px 55px 125px;
    background: #FFFFFF;
}
.footer_logo {
    display: flex;
    gap: 18px;
    align-items: center;
}
.footer_container {
    display: flex;
    justify-content: space-between;
}
.flex_column {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.copyright {
    margin-top: 50px;
}
.footer_second {
    padding-top: 21px;
    display: grid;
    grid-template-columns: 92px 92px 92px;
    grid-template-rows: 21px 21px 21px;
    row-gap: 22px;
    column-gap: 76px;
}
.footer_third {
    padding-top: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social_media {
    display: flex;
    justify-content: end;
    gap: 24px;
}
.help {
    gap: 34px;
}